:root{
    --bg-color:#F1EAFF;
    --text-color:#D67BFF;
    --keypad-bg-color:#D67BFF;
    --keypad-bg-color2:#D0A2F7;

    /* --bg-color: #040D12;
    --text-color: #93B1A6;
    --keypad-bg-color: #040D12;
    --keypad-bg-color2: #183D3D; */

}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.calculator{
    aspect-ratio: 9/14;
    width: 100%;
    max-width: 350px;
    background-color: var(--keypad-bg-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.592);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display{
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow:0 0 10px rgb(2, 1, 1);
    padding: 10px;
    height: 20%;

}

.display input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 2rem;
    color: var(--text-color);
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    height: 80%;

}

.keys button{
    background-color:var(--bg-color) ;
    border: none;
    border-radius: 7px;
    padding: 10px;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 5px var(--keypad-bg-color2);
}

.equalbtn{
    grid-column: 3/5;
    background-color: var(--keypad-bg-color2);
    color: white;
}

.themeSwitch{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.theme-toggle-lable{
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--keypad-bg-color2);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.theme-toggle-lable:after{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--text-color);
    top: 1px;
    transition: transform 0.2s ease;

}

.themeSwitch input{
    display: none;
}

.themeSwitch input:checked+.theme-toggle-lable::after{
    transform: translateX(21px);
}